article {
    align-items: center;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    object-fit: contain;
}

@media (orientation: landscape) {
    article {
        padding: 25vh 25vw;
    }
    img {
        height: auto;
        width: 50%;
    }
}

@media (orientation: portrait) {
    article {
        padding: 25vw;
    }
    img {
        height: auto;
        width: 100%;
    }
}